  <h1 class="index-title">My Tasks</h1>

<div class="container">

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Status</th>
        <th>Deadline</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= link_to task.title, task, class:"title-btn" %></td>
          <br>
          <td>

            <% if task.status == "Not Started" %>
              <svg width="30px" height="30px" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2" />
              </svg>
            <% end %>

            <% if task.status == "In Progress" %>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="30px" height="30px">
                <path d="M304 48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zm0 416a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM48 304a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm464-48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM142.9 437A48 48 0 1 0 75 369.1 48 48 0 1 0 142.9 437zm0-294.2A48 48 0 1 0 75 75a48 48 0 1 0 67.9 67.9zM369.1 437A48 48 0 1 0 437 369.1 48 48 0 1 0 369.1 437z"/></svg>
            <% end %>

            <% if task.status == "Completed" %>
              <svg width="30px" height="30px" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
            <% end %>
          </td>
          <td><%= task.deadline %></td>
          <td>
            <svg width="30px" height="20px" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="-14 0 36 18" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
            </svg>
            <%= link_to 'Edit', edit_task_path(task), class:"edit-btn" %>
          </td>
          <td>
          <svg width="30px" height="16px" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="-14 0 34 18" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
          <%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' }, class:"delete-btn" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

    <%= link_to 'New Task', new_task_path, class:"new-task-btn"%>
</div>

  <p id="notice"><%= notice %></p>
